<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.huike.app.dao.IBookDao">
    <resultMap id="bookMap" type="com.huike.app.bean.Book">
        <id property="bid" column="bid"/>
        <result property="bname" column="bname"/>
        <result property="author" column="author"/>
        <result property="price" column="price"/>
        <result property="currPrice" column="currPrice"/>
        <result property="discount" column="discount"/>
        <result property="press" column="press"/>
        <result property="publishtime" column="publishtime"/>
        <result property="edition" column="edition"/>
        <result property="pageNum" column="pageNum"/>
        <result property="wordNum" column="wordNum"/>
        <result property="printtime" column="printtime"/>
        <result property="booksize" column="booksize"/>
        <result property="paper" column="paper"/>
        <result property="image_w" column="image_w"/>
        <result property="image_b" column="image_b"/>
    </resultMap>

    <select id="listbookByCategroy"  resultType="Book" resultMap="bookMap">
       SELECT * FROM t_book WHERE cid=#{caterory.cid} LIMIT #{start},#{sizes}
    </select>

    <select id="countCategory" parameterType="Caterory" resultType="int">
        SELECT COUNT(*) FROM t_book WHERE cid=#{caterory.cid}
    </select>

    <select id="getdescBook" resultMap="bookMap" resultType="Book">
        SELECT * FROM  t_book WHERE bid=#{bid}
    </select>
</mapper>